.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.7); /* was var(--black-a9) */
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: var(--primary);
  border-radius: 6px;
  box-shadow: rgba(206, 206, 206, 0.35) 0px 10px 38px -10px,
    rgba(206, 206, 206, 0.2) 0px 10px 20px -15px; /* Adjusted for hsl(206, 22%, 7%) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  color: var(--secondary);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--secondary);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--secondary);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: rgb(138, 91, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.IconButton {
  font-family: inherit;
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border-radius: 0.2rem;
  border: none;
}

.IconButton svg {
  height: 2rem;
  width: 2rem;
}
.IconButton:hover {
  background-color: rgb(216, 191, 216); /* was var(--violet-4) */
}
.IconButton:focus {
  box-shadow: 0 0 0 2px rgb(147, 112, 219); /* was var(--violet-7) */
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: rgb(138, 91, 255);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
}

.mainDescription {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}

.mainDescription svg {
  width: 3rem;
  height: 3rem;
  fill: var(--secondary);
}

.mainDescription p {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--secondary);
}

.windDescription {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.tempDescription {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
